.node {
  width: 25px;
  height: 25px;
  border: 1px solid #333;
  display: inline-block;
}

.node-start {
  background-color: green;
}

.node-finish {
  background-color: red;
}

.node-visited {
  background-color: blue;
}